* {
  box-sizing: border-box;
}

img {
  width: 100%;
  border-radius: 5px;
}


body {
  background: #2b2a2b;
  color: white;
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem;
  max-width: 1400px;
  margin: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #ed666f;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0.5rem 0;
}

article {
  padding-bottom: 1rem;
  border-bottom: 1px solid #4d4d4d;
}
article p {
  font-family: "Karla", sans-serif;
  font-size: 0.95rem;
  color: #c8c8c8;
}

.footer-note {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 0.9rem;
  background: white;
  padding: 1rem;
  color: black;
  border-radius: 5px;
}
.footer-note a {
  color: inherit;
  font-weight: 600;
}


/** 适配PC端 **/
@media screen and (min-width: 600px) {
  .grid-wrapper {
    grid-template-columns: 1fr 2fr 2fr;
  }
}

@media screen and (min-width: 600px) {
  .grid-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
  }
}

/** 适配手机端 **/
@media screen and (max-width: 599px) {
  .grid-wrapper {
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 599px) {
  .grid-wrapper {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1rem;
  }
}
